{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo Enviado</title>
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body class="background">
    <div class="container">
        <h2>Revisa tu correo</h2>
        <p>Te hemos enviado un enlace para restablecer tu contraseña.</p>
        <p>Si no lo ves en tu bandeja de entrada, revisa tu carpeta de spam.</p>
        <a href="{% url 'login' %}" class="btn-init">Volver al inicio de sesión</a>
    </div>
    <script src="{% static 'js/color.js' %}"></script>
</body>
</html>
