{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body class="background">
    <div class="container">
        <h2>RECUPERAR CONTRASEÑA</h2>

        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div style="color: red;">
                    {% for error in form.non_field_errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <label for="{{ form.email.id_for_label }}" class="label" placeholder="Correo Electronico"></label>
            {{ form.email }}
            {% for error in form.email.errors %}
                <p class="error-message" style="color: red;">{{ error }}</p>
            {% endfor %}

            <button type="submit" class="btn-init">Enviar enlace de recuperación</button>
            <p class="register-link"><a href="{% url 'login' %}" class="link">Volver al inicio de sesión</a></p>
        </form>
    </div>

    <script src="{% static 'js/buttonView.js' %}"></script>
    <script src="{% static 'js/color.js' %}"></script>
</body>
</html>
