{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body class="background">
    <div class="container">
        <h2>RESTABLECER CONTRASEÑA</h2>

        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div style="color: red;">
                    {% for error in form.non_field_errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Nueva contraseña -->
            <label for="{{ form.new_password1.id_for_label }}" class="label">Nueva contraseña</label>
            <div class="password-container">
                {{ form.new_password1 }}
                <button type="button" class="show-password" onclick="togglePassword(this)">
                    <img src="{% static 'images/lia-invisible-btn.png' %}" class="password-icon" alt="Ver contraseña">
                </button>
            </div>
            {% for error in form.new_password1.errors %}
                <p class="error-message" style="color: red;">{{ error }}</p>
            {% endfor %}

            <!-- Confirmación -->
            <label for="{{ form.new_password2.id_for_label }}" class="label">Confirmar contraseña</label>
            <div class="password-container">
                {{ form.new_password2 }}
                <button type="button" class="show-password" onclick="togglePassword(this)">
                    <img src="{% static 'images/lia-invisible-btn.png' %}" class="password-icon" alt="Ver contraseña">
                </button>
            </div>
            {% for error in form.new_password2.errors %}
                <p class="error-message" style="color: red;">{{ error }}</p>
            {% endfor %}

            <button type="submit" class="btn-init">Cambiar contraseña</button>
        </form>
    </div>

    <script src="{% static 'js/buttonView.js' %}"></script>
    <script src="{% static 'js/color.js' %}"></script>
</body>
</html>
