{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel='stylesheet' type="text/css" href='{% static "css/authentication.css" %}'>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
</head>
<body class?"background">
    <img src="{% static 'images/lia_logo.png' %}" alt="Logo" class="logo">
    <div class='container'>
        <h2>INICIA SESION</h2>

        <form method="post">
            {% csrf_token %}
                {% if form.non_field_errors %}
                <div style="color: red; ">
                    {% for error in form.non_field_errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
        
            <label for="{{ form.username.id_for_label }}" class="label"></label>
            {{ form.username }}
            {% for error in form.username.errors %}
                <p class="error-message" style="color: red;">{{ error }}</p>
            {% endfor %}
        
            <label for="{{ form.password.id_for_label }}" class="label"></label>
            <div class="password-container">
                {{ form.password }}
                <button type='button' class='show-password' onclick='togglePassword(this)'>
                    <img src="{% static 'images/lia-invisible-btn.png' %}" class='password-icon'>
                </button>
            </div>
            {% for error in form.password.errors %}
                <p class="error-message" style="color: red;">{{ error }}</p>
            {% endfor %}

        
                <button type="submit" class='btn-init'>Iniciar Sesión</button>
                <p class="register-link">¿Ya tienes cuenta? <a href="{% url 'register' %}" class="link">Registrate</a></p>
            </form>
    </div>
   

    <script src='{% static "js/buttonView.js" %}'></script>
    <script src="{% static 'js/color.js' %}"></script>

</body>
</html>
